body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #F7D6E0;
  }
.numberRow {
    display: flex;
    flex-direction: row;
  }


.box {
  background-color: #EFF7F6;
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex; /* Use flex container */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin: 10px;
  font-size: 40px;
  cursor: pointer;
}


p{
font-size: 20px;
}

#clearButton {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  height: 70px;
  border-radius: 40px;
  cursor: pointer;

}
#submitButton{
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  height: 85px;
  border-radius: 45px;
  cursor: pointer;

}

