body {
    font-family: helvetica, sans-serif;
    width: 400px;
    font-size: 20px;
  }

  label {
    font-weight: bold;

  }

  div {
    padding-bottom: 20px;

  }

  input[type="text"] {
    padding: 5px;
    size: 50vw;
    width: 150px;
    background-color: #CEE5F2;
  }

  p {
    background: #ACCBE1;
    width: 800px;
    font-size: 20px;
    color: black;
    padding: 10px;
    visibility: hidden;
    border-radius: 15px;
    width: 350px;
  }