body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #A4C3B2;
    color: black;
    text-align: center;
    padding: 15px;
}

div {
    max-width: 1400px;
    margin: 0 auto;
    padding: 5px;
}

footer {
    background-color: #A4C3B2;
    color: black;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    background-color: #5d8870;
    padding: 10px;
    text-align: center;

}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #6d9d82;
}

/* Style for the dropdown menu */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #666;
}