body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #efe8e8;
 
}
h1{
    text-align: center;
}

a {
    color: #000000; /* Specify the color you want */
    text-decoration: none; /* Removes underlines from all links */
    transition: color 0.3s; /* Add a smooth transition for color changes */
}
a:hover {
    color: red; /* Change the color on hover to your desired color */
}

#navvy{
    height:50px;
}
#navvy2{
    position: absolute;
    top:10px;
}
#basics{
    padding: 30px;
    font-size: 20px;
    width: 50%;
    position: absolute; 
    left: 20px;
}
header {
    background-color: #efe8e8;
    color: black;
    font-size: 15px;
    height: 100px;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure the header stays above other elements */

}
#headshot{
    position: absolute;
    right: 100px;
    top: 140px;

}
.circle {
    width: 200px;
    height: 50px;
    background-color: #D5CFE1;
    border-radius: 50%;
    position: absolute;
    left: 0.7%;
    top: 20%;
    
}
div {
    max-width: 1400px;
    margin: 0 auto;
    padding: 5px;
    flex-grow: 1; /* Allow the div to grow and take up the available space */

}
.usaco{
    text-align: left;
}


.usacoimg1 {
    position: absolute;
    top: 40%;
    left: 40%;
    margin: 20px;
    width: 35%;
}
/* .usacoimg2 {
    position: absolute;
    top: 45%;
    left: 70%;
    margin: 20px; 
    width: 20%;

} */
.usacoimg3 {
    position: absolute;
    top: 50%;
    left: 55%;
    margin: 20px; 
    width: 35%;
}
.usacoimg4 {
    position: absolute;
    top: 63%;
    left: 45%;
    margin: 20px; 
    width: 35%;

}
.usacoimg5 {
    position: absolute;
    top: 120%;
    left: 50%;
    margin: 20px; 
    width: 40%;
}
.katie{
    text-align: left;
}

.katieimg{
    width: 70%;
}

.silly{
    text-align: left;
}

.sillyimg{
    position: absolute;
    top: 30%;
    left: 15%;
    margin: 20px; 
    width: 30%;
}

.sillyimg2{
    position: absolute;
    top: 30%;
    left: 50%;
    margin: 20px; 
    width: 30%;
}

.dogimg{
    position: absolute;
    top: 40%;
    left: 7%;
    margin: 20px; 
    width: 37%;
}

.dogimg2{
    position: absolute;
    top: 40%;
    left: 52%;
    margin: 20px; 
    width: 40%;
}
.colsymimg{
    position: absolute;
    top: 35%;
    left: 10%;
    margin: 20px; 
    width: 35%;
}

.colsymimg2{
    position: absolute;
    top: 35%;
    left: 52%;
    margin: 20px; 
    width: 40%;
}

.phoneimg{
    position: absolute;
    top: 35%;
    left: 10%;
    margin: 20px; 
    width: 38%;
}

.phoneimg2{
    position: absolute;
    top: 35%;
    left: 52%;
    margin: 20px; 
    width: 40%;
}
.web{
    text-align: left;
}
.df{
    text-align: left;
}
.image{
    text-align: left;
}
.text{
    text-align: left;
}

.work {
    text-align: left;
    width:90%;
}
.workcontainer{
    display: flex;

}
.workcolumn{
    flex: 1;
    margin: 0 10px; /* Add some space between columns */
}

footer {
    background-color: #efe8e8;
    color: black;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
}

nav {
    padding: 10px;
    text-align: center;
    width:100%;
    position: absolute;
    top:55%;
    left:0%
}

nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #efe8e8;
    color: gray;
}


/* Add this to your existing CSS file or create a new one */
.image-carousel {
    margin-top: 10px;
    text-align: center;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 10px; /* Adjust the margin to control spacing between images */
    width: 20%; 

}

.carousel-item img {
    width: 100%;
    height: auto;
}


/* #A4C3B2  */