body {
    background-color: #AAD2BA;
    color: black;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
  }

.header {
    padding: 5px;
    margin: 20px;
    text-align: center;
    background: #6B8F71;
    color: white;
    font-size: 25px;
    text-align: center;

}

.toptitle{
    padding: 5px;
    margin: 20px;
    width: 50vw;
    position:relative;
    left:25vw;

}

.all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1vw;
}

.popup {
    width: 300px;
    background-color:#6B8F71;
    padding: 50px;
    margin: 20px;
    border-radius: 25px;
    text-align: center;

    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.popup:hover{
    background-color:#fefbf1;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 50vw;
    background-color: #1E352F;
    color: #fefbf1;
    text-align: center;
    border-radius: 25px;
    padding: 8px 20px;
    position: fixed;
    top:12.5%;
    left:25%;
    z-index: 1;
  }
  
  
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
